<ion-view hide-nav-bar='true'>

  <ion-content>

    <div class="list card" ng-repeat='parcour in parcours'>

      <div class="item item-avatar">
        <img ng-src="http://localhost:8000/img/{{parcour.author.photo}}">
        <h2>Auteur: {{parcour.author.name}}</h2>
        <p>Posté le: {{parcour.postingDate}}</p>
      </div>

      <div class="item item-body">

        <img class="full-image" ng-src="http://localhost:8000/img/{{parcour.photo}}">
        <h3>{{parcour.name}}</h3>
        <p>
          {{parcour.description}}
        </p>
        <p>
          durée: {{parcour.duration}} mins |
          distance:  {{parcour.distance}} kms

          <a href="#" class="subdued">{{parcour.likes}}</a>
          <a href="#" class="subdued">{{parcour.comments.length}}</a>
        </p>

        <span class="inlineBlock" ng-repeat="category in parcour.category track by $index" >          {{category}}
</span>

      </div>
      <button type="button" class="button button-energized" ng-click="goToMap(parcour)"> Suivre le Parcour</button>
    </div>
    </ion-content>
  </ion-view>
