<ion-view hide-nav-bar='true'>
    <ion-content>


        <div iclass="padding" id="map" data-tap-disabled="true"></div>
        <ion-slide-box>
         <ion-slide ng-repeat="POI in parcour.POIS">
           <div class="box blue">

               <h1>{{POI.name}}</h1>
               <h3>{{POI.description}}</h3>


               <img style="width: 100px; height: 100px"src="http://192.169.0.19:8000/img/parcours/parcour1/{{POI.img}}" alt=""/>

             <!-- <button ng-click="nextSlide()">Next slide!</button> -->
           </div>
         </ion-slide>

       </ion-slide-box>
    </ion-content>
</ion-view>
