<ion-view hide-nav-bar='true'>
  <ion-content class="padding">

    <div class="list card">



      <div class="item item-image">
        <img src="http://localhost:8000/img/adam.png">
      </div>
      <div class="item item-avatar">
        <img src="http://localhost:8000/img/flag.png">
        <h2>Niveau: Expert</h2>
        <p>Parcours Réalisés: 5</p>
        <hr>
        <ul>
          <li>  kms total: 30kms</li>
          <li>  Durée totale: 5h</li>
        </ul>

      </div>


    </div>
  </ion-content>
</ion-view>
