<ion-view hide-nav-bar='true'>

  <ion-content>

    <div class="wrapper wrap" style=" background-color: rgba(1, 0, 10, 0.4);">
      <a ng-click="gotopagesoustheme('nature')">
        <img src="http://localhost:8000/img/nature.jpg" class="imgCover1" alt=""/>
        <h1>Nature</h1>
        <img src="http://localhost:8000/img/icons/tree.png"  class="iconFront" alt=""/>

      </a>
    </div>
    <div class="wrapper1 wrap" style=" background-color: rgba(1, 0, 10, 0.4);">
      <a ng-click="gotopagesoustheme('gourmand')">
        <img src="http://localhost:8000/img/gourmand.jpg" class="imgCover2" alt=""/>
        <h1>Gourmand</h1>
        <img src="http://localhost:8000/img/icons/vin.png"  class="iconFront" alt=""/>

      </a>

    </div>
    <div class="wrapper2 wrap" style=" background-color: rgba(1, 0, 10, 0.4);">
      <a ng-click="gotopagesoustheme('patrimoine')">
        <img src="http://localhost:8000/img/Patrimoine.jpg" class="imgCover3" alt=""/>
        <h1>Patrimoine</h1>
        <img src="http://localhost:8000/img/icons/castle.png"  class="iconFront" alt=""/>

      </a>

    </ion-content>
  </ion-view>
