<ion-view hide-nav-bar='true'>
  <ion-content>

    <div iclass="padding" id="map" data-tap-disabled="true"></div>
    <div class="row">
      <div class="col"><img src="{{url1}}">{{temp1}}°C</div>
      <div class="col"><img src="{{url2}}">{{temp2}}°C</div>
      <div class="col"><img src="{{url3}}">{{temp3}}°C</div>
      <div class="col"><img src="{{url4}}">{{temp4}}°C</div>

    </div>

    <ion-slide-box>
      <ion-slide ng-repeat="POI in parcour.POIS track by $index">

        <div class="list">

          <ion-item class="item item-thumbnail-left " style="white-space: normal">
            <img style="width: 200px; height: 200px" src="http://192.168.1.14:8000/img/parcours/parcour1/{{POI.img}}" alt=""/>
            <h2>{{POI.name}}</h2>
            <p style="white-space: normal">{{POI.description}}</p>

          </ion-item>
          <p>
          </p>
          <button type="button" name="button" ng-click="play(POI.audioName)">play</button>
          <!-- <button type="button" name="button" ng-click="pause()">pause</button> -->

        </div>

      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
