<ion-view hide-nav-bar='true'>

  <ion-content>
    <div ng-show="filter == 'patrimoine'">

      <div class="wrapper wrap" style="  background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/nature.jpg" class="imgCover1" alt=""/>
        <h1>Sites Historiques</h1>
        <img src="http://192.169.0.19:8000/img/icons/castle.png"  class="iconFront" alt=""/>      </div>
      <div class="wrapper1 wrap" style="  background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/sous-theme/patrimoine.jpg" class="imgCover2" alt=""/>
        <h1>Sites Industriels</h1>
        <img src="http://192.169.0.19:8000/img/icons/castle.png"  class="iconFront" alt=""/>
      </div>
      <div class="wrapper2 wrap" style=" background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/Patrimoine.jpg" class="imgCover3" alt=""/>
        <a ng-click="goToPageList('architecture')"><h1>Architecture</h1>

        <img src="http://192.169.0.19:8000/img/icons/castle.png"  class="iconFront" alt=""/>      </div>
    </div>
    <div ng-show="filter == 'nature'">

      <div class="wrapper wrap" style="  background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/sous-theme/jardin.jpg" class="imgCover1" alt=""/>
        <h1>Jardins</h1>
        <img src="http://192.169.0.19:8000/img/icons/tree.png"  class="iconFront" alt=""/>
      </div>
      <div class="wrapper1 wrap" style="  background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/sous-theme/balade.jpg" class="imgCover2" alt=""/>
        <h1>Balades</h1>
        <img src="http://192.169.0.19:8000/img/icons/tree.png"  class="iconFront" alt=""/>

      </div>
      <div class="wrapper2 wrap" style=" background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/sous-theme/sport.jpg" class="imgCover3" alt=""/>
        <a><h1>Sportif</h1>

          <img src="http://192.169.0.19:8000/img/icons/tree.png"  class="iconFront" alt=""/>
      </div>
    </div>

    <div ng-show="filter == 'gourmand'">
      <div class="wrapper wrap" style="  background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/sous-theme/resto.jpg" class="imgCover1" alt=""/>
        <h1>Gastronomique</h1>
        <img src="http://192.169.0.19:8000/img/icons/vin.png"  class="iconFront" alt=""/>
      </div>
      <div class="wrapper1 wrap" style="  background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/sous-theme/bistrot.jpg" class="imgCover2" alt=""/>
        <h1>Bistrots</h1>
        <img src="http://192.169.0.19:8000/img/icons/vin.png"  class="iconFront" alt=""/>

      </div>
      <div class="wrapper2 wrap" style=" background-color: rgba(1, 0, 10, 0.4);">
        <img src="http://192.169.0.19:8000/img/gourmand.jpg" class="imgCover3" alt=""/>
        <a><h1>Boulangeries</h1>

          <img src="http://192.169.0.19:8000/img/icons/vin.png"  class="iconFront" alt=""/>
      </div>
    </div>

    </ion-content>
  </ion-view>
