<ion-view hide-nav-bar='true'>
  <ion-content>

    <div iclass="padding" id="map" data-tap-disabled="true"></div>
    <div class="row">
      <div class="col"><img src="{{url1}}">{{temp1}}°C</div>
      <div class="col"><img src="{{url2}}">{{temp2}}°C</div>
      <div class="col"><img src="{{url3}}">{{temp3}}°C</div>
      <div class="col"><img src="{{url4}}">{{temp4}}°C</div>

    </div>

    <ion-slide-box>
      <ion-slide ng-repeat="POI in parcour.POIS">

        <div class="list">

          <a class="item item-thumbnail-left" href="#">
            <img style="width: 200px; height: 200px" src="http://192.169.0.19:8000/img/parcours/parcour1/{{POI.img}}" alt=""/>
            <h2>{{POI.name}}</h2>
            <h3>{{POI.description}}</h3>
          </a>
          {{weather.list[0].main}}
        </div>

      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
